
{% extends 'base.html' %}

{% load static %}

{% block content %}

 
  <!-- Favicons -->
  <!--<link href="{% static 'assets/img/favicon.png' %}" rel="icon">-->
  <!--<link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">-->

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">



  
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h1>Agro Services and Solutions</h1>
          <h2>Demonstration to know how it is working</h2>
          <a href="https://www.youtube.com/watch?v=tVaTKMW_R1U&ab_channel=ExploringWorld" class="glightbox play-btn mb-4"></a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->
  
  <main id="main">

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Us</h2>
          <p><h3>BISAG-N<h3>
            Bhaskaracharya National Institute for Space Applications and Geo-informatics</p>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
             BISAG-N is an Autonomous Scientific Society registered under the Societies Registration Act, 1860 under the MeitY, Government of India to undertake technology development & management, research & development, facilitate National & International cooperation, capacity building and support technology transfer & entrepreneurship development in area of geo-spatial technology.
              BISAG-N has three main domain areas: Satellite Communication, Geo-informatics and Geo-spatial technology.
            </p>

          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Our portal will be benefitted to mainly the farmers of India, where they can sell the produce with their own rates and other functionalities like crop disease detection, crop suggestion, weather warnings, etc. Another benefit is of the third party dealers who wants to purchase directly from the farmers, they can access the portal for online purchasing of agro-products. Admin can also access all the functions in the portal to keep a watch and also for the data visualizing and analysis of the charts.    
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>We here at Agro Services and Solutions provide our farmers and customers with best possible services throughout the globe. Maximum benefits to the farmer is the primary goal of our company.</p>
        </div>
        <h3>For Customers</h3>
        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-shop-window"></i></div>
              <h4><a href="">View grocery products</a></h4>
              <p>Customers can view different type of grocery product they want to buy.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-cart"></i></div>
              <h4><a href="">Buy grocery products</a></h4>
              <p>Customers can buy different type of grocery product they want to buy but adding into the cart and pay the amounts.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-card-list"></i></div>
              <h4><a href="">Track order history</a></h4>
              <p>They can view all their past order from their account.</p>
            </div>
          </div>
          <div>
          <br><br>
          <h3>For Farmers</h3>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-shop-window"></i></div>
              <h4><a href="">Sell products</a></h4>
              <p>Farmers can sell their products to the customers without the help of third party just by adding their products by filling the form.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-cart"></i></div>
              <h4><a href="">Buy Products</a></h4>
              <p>Farmers can create their customer account to buy other products from the other farmers.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-cloud-check-fill"></i></div>
              <h4><a href="">Check the weather forcaste of the day</a></h4>
              <p>Farmers will get message alert of the weather everyday on their registered number.</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-tree"></i></div>
              <h4><a href="">Get plant disease detection</a></h4>
              <p>For checking the health of the leaves of a plant, farmers can upload the photo of infected leaves and get disease predicted from which plant is suffering. Get the solutios to treat the disaese.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-emoji-dizzy"></i></div>
              <h4><a href="">Get the crop prediction</a></h4>
              <p>Farmers can check the crop's success they desire to cultivate by adding the crop name and city name they have on their farm. Even the will get the suggestion of other plants that can be produced better yeild.</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
            <div class="icon-box">
              <div class="icon"><i class="bi bi-arrow-left-right"></i></div>
              <h4><a href="">Translate in their preferred language</a></h4>
              <p>For ease of understanding, farmers can convert the website to their preferred language.</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3>Call To Action</h3>
            <p style="color:white"> <ul style="color:white"><li>For helping the farmers in terms of Crop suggestion, precautions based on the weather forecast and potential pest attacks. Further help in disease detection and the procedure that can cure the disease</li>
            <li>Farmers to sell the agriculture product, and connect with the buyers.</li>
            <li>Interface for anyone to buy the agriculture products instead of visiting the place itself.</li>
            </ul>
            </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    
    </section><!-- End Features Section -->

    
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
      <div class="container">

        <div class="text-center title">
          <h3>What we have achieved so far</h3>
        </div>

        <div class="row counters position-relative">

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end={{all_cust_len}} data-purecounter-duration="1" class="purecounter"></span>
            <p>Total Customers</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end={{all_farm_len}} data-purecounter-duration="1" class="purecounter"></span>
            <p>Total Farmers</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end={{all_prod_len}} data-purecounter-duration="1" class="purecounter"></span>
            <p>Total Products</p>
          </div>

          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end={{satisfy_cust_farm}} data-purecounter-duration="1" class="purecounter"></span>
            <p>Satisfied Customers</p>
          </div>

        </div>

      </div>
    </section><!-- End Counts Section -->

    

    

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Bhaskaracharya Institute for Space Applications and Geoinformatics is a State level agency by Government of Gujarat to facilitate to provide services and solutions in implementing map-based GeoSpatial Information Systems<br>
          Address : Near CH '0' Circle, Highway, Indulal Yagnik Marg, Gandhinagar - Ahmedabad Rd, Gandhinagar, Gujarat 382007</p>
        </div>
      </div>

      <div>
        <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.463723628667!2d72.63473051473498!3d23.18976511587837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x395c2a3f411fb3b5%3A0x11355bd0225c89b8!2sBISAG!5e0!3m2!1sen!2sin!4v1617389763823!5m2!1sen!2sin" frameborder="0" allowfullscreen></iframe>
      </div>

      <div class="container">

        <div class="row mt-5">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="ri-map-pin-line"></i>
                <h4>Location:</h4>
                <p>Near CH '0' Circle, Highway, Indulal Yagnik Marg, Gandhinagar - Ahmedabad Rd, Gandhinagar, Gujarat 382007</p>
              </div>

              <div class="email">
                <i class="ri-mail-line"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="ri-phone-line"></i>
                <h4>Call:</h4>
                <p>079 2321 3091</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->




  

  {% endblock %}