{% extends 'base.html' %}


{% block content %}

{% load custom_filter %}


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .btn {
      background-color: rgb(189, 7, 52);
      border: none;
      color: white;
      padding: 12px 16px;
      font-size: 16px;
      cursor: pointer;
    }
    
    /* Darker background on mouse-over */
    .btn:hover {
      background-color: rgb(218, 82, 82);
    }

    .searchclass{
        float: right;
        padding-top: 40px;
    }
    </style>


<div class="container">
   <div class="border rounded p-4 m-4">
        <p  style="display:inline-block;" class="display-4 pl-4 ml-4">Your Products</p>
        <div class = "searchclass"><input  type="text" id="myinput" placeholder="&#128269 Search for a product..." size="40"></div>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>Sno.</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Action</th>
                    <!--<th>Status</th>-->
                </tr>
            </thead>
            <tbody>
                
                {% for order in orders %}
                <tr class="myprod">
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px;" class="rounded-circle" src="{{order.product.image.url}}" alt=""></td>
                    <td>{{order.product.name}}</td>
                    <td>{{order.date}}</td>
                    <td>₹ {{order.product.price}}</td>
                    <td>{{order.category1}}</td>
                    <td>{{order.product.description}}</td>
                    <!--<td><a href= "/delete/{{ order.product.id }}" class="btn btn-danger">Remove Product</button></a></td>-->
                    <td><a href= "/delete/{{ order.product.id }}"><button class="btn"><i class="fa fa-trash"></i> Delete</button></a></td>
                   <!-- {% if order.status %}
                    <td><small class="badge badge-success">Completed</small></td>
                    {%else%}
                    <td><small class="badge badge-warning">Pending</small></td>
                    {% endif %}-->
                </tr>

                {% endfor %}
               
            </tbody>

        </table>
       
   </div>
</div>

<!-- partial -->
<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
<script src='https://use.fontawesome.com/releases/v5.8.1/js/all.js'></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("#myinput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $(".myprod").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock %}